$font-Montserrat: 'Montserrat', sans-serif;
$font-Crimson-Text: 'Crimson Text - Roman', sans-serif;
$color-hex: #3e3d3d;
$color-white: #ffffff;
$color-light: #efefef;
$color-e3: #e3e3e3;
$color-e4: #e4e4e4;
$color-b7: #b7b7b7;
$color-81: #818181;
$color-d8: #d8d8d8;
$color-ce: #cecece;
$color-29: #292929;
$color-46: #464646;
$color-94: #949494;
$color-a: #aaaaaa;
$color-a8: #a8a8a8;
